---
interface Props {
  experienceId: string;
}
const { experienceId } = Astro.props;

const channelUUID = 'f23bdb2c-1b09-450d-bc03-a0a0b23700e9';
const widgetSrc = `https://widgets.bokun.io/online-sales/${channelUUID}/experience-calendar/${experienceId}`;
---

<div class="booking-widget my-8">
  <div class="bokunWidget" data-src={widgetSrc}></div>
  <noscript>
    <p class="font-pixel text-[0.45rem] text-nes-red p-4">Please enable javascript in your browser to book</p>
  </noscript>
</div>
